<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <!-- 要先引入vue.js 否则报错 -->
  <script src="https://cdn.bootcss.com/vue/2.5.2/vue.min.js"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body>
  <div id='app'>
    <div class="box" style="display: flex;justify-content: space-between;">

      <div style="width: 50%;">

        <el-input type="textarea" :rows="2" placeholder="请输入内容" v-model="json"
        :autosize="{ minRows: 7,maxRows: 7}"></el-input>
        <div>
          <el-button type="danger" plain @click="clearAll()">清空</el-button>
          <el-button type="primary" plain @click="confirm()">确定</el-button>
          <el-button type="info" plain @click="paste()">粘贴</el-button>
        </div>
  
        <p v-for="item in res">
          {{item}}
        </p>
        
      </div>
      
      <div style="width: 50%;">
        <el-input type="textarea" :rows="2" placeholder="处理结果" v-model="newJson"
       :autosize="{ minRows: 7,maxRows: 7}"></el-input>

       <el-button type="danger" plain @click="clearAll2()">清空</el-button>

      </div>
      
    </div>

  </div>


  <script>
    const vm = new Vue({
      el: '#app',
      data () {
        return {
          json: null,
          res: [],
          newJson:null
        }
      },
      methods: {
        clearAll2(){
          this[`newJson`] = null
        },
        clearAll () {
          this[`json`] = null
          this[`res`] = []
          console.clear()
        },
        paste () {
          this.json = null,
          this[`res`] = []
          // 执行粘贴操作
          navigator.clipboard.readText()
            .then(pastedText => {
              this[`json`] = pastedText; // 将粘贴的内容赋值给文本框
              // this[`info${type}`] = this.$options.data()[`info${type}`];
              this.confirm()
            })
            .catch(error => {
              console.error('粘贴操作失败:', error);
            });
        },

        confirm () {
          // const fs = require('fs');
          // let array = require('./data.json')

          // let array = JSON.parse(JSON.stringify(this.json))
          let array = JSON.parse(JSON.stringify(this.json))

          array=JSON.parse(array)

          array?.forEach(item => {
            item?.list?.forEach((itemList,index) => {
              for (let key in itemList) {
                if (itemList[key].hasOwnProperty('style')) {
                  console.log(itemList);
                  // console.log(1111111111,key);
                  // console.log(item.id, '>>>list', key,);
                  this.res.push(`${item.id}>>>${item.name} >>>list[${index}] >>>${key}`)

                  switch (key) {
                    case "title":
                      itemList["titleStyle"] = itemList[key].style
                      delete itemList[key].style
                      break;
                    case "subTitle":
                      itemList["subTitleStyle"] = itemList[key].style
                      delete itemList[key].style
                      break;
                    case "text":
                      itemList["textStyle"] = itemList[key].style
                      delete itemList[key].style
                      break;
                    case "img":
                      itemList["imgStyle"] = itemList[key].style
                      delete itemList[key].style
                      break;
                    case "icon":
                      itemList["iconStyle"] = itemList[key].style
                      delete itemList[key].style
                      break;
                    case "video":
                      itemList["videoBoxStyle"] = itemList[key].style
                      delete itemList[key].style
                      break;
                  
                    default:
                      break;
                  }
                }
              }
            })
            if(Array.isArray(item?.outer) && item?.outer){
              item?.outer?.forEach((itemList,index) => {
                for (let key in itemList) {
                  if (itemList[key].hasOwnProperty('style')) {
                    // console.log(item.id, '>>>outer', key,);
                    this.res.push(`${item.id}>>>${item.name}>>>outer[${index}] >>>${key}`)

                    switch (key) {
                    case "title":
                      itemList["titleStyle"] = itemList[key].style
                      delete itemList[key].style
                      break;
                    case "subTitle":
                      itemList["subTitleStyle"] = itemList[key].style
                      delete itemList[key].style
                      break;
                    case "text":
                      itemList["textStyle"] = itemList[key].style
                      delete itemList[key].style
                      break;
                    case "img":
                      itemList["imgStyle"] = itemList[key].style
                      delete itemList[key].style
                      break;
                    case "icon":
                      itemList["iconStyle"] = itemList[key].style
                      delete itemList[key].style
                      break;
                    case "video":
                      itemList["videoBoxStyle"] = itemList[key].style
                      delete itemList[key].style
                      break;
                  
                    default:
                      break;
                  }
                  }
                }
              })
            }
            
          })

          if(this.res.length==0){
              this.res[0]=`老铁没毛病 !`
          }
          this.newJson=JSON.stringify(array)

        },
      },
    })
  </script>
</body>

</html>
<style>
  html {
    background: #8a8a7c;
  }

  .el-textarea textarea {
    background: #1e1d1d;
  }
</style>